/*
	'ClearCobalt' theme for Question2Answer
	License: http://www.gnu.org/licenses/gpl.html

	Theme Version: 1.0
	Theme Date: 2020-06-05
	Theme Author: Ansgar Wiechers
	Theme Author URI: http://www.planetcobalt.net/
	Theme License: GPLv2

	This theme is based on the 'Clean Base' theme by Scott Vivian and also
	includes the styles from his markdown-editor plugin.
	See <https://github.com/svivian/q2a-themes>.
	See <https://github.com/svivian/q2a-markdown-editor>.
*/

/* Markdown editor styles */

.wmd-button-bar {
	width: 100%;
	padding: 5px 0;
}

.wmd-input {
	width: 598px;
	height: 250px;
	margin: 0 0 10px;
	padding: 2px;
	border: 1px solid #c0c0c0;
	scrollbar-width: auto;
	scrollbar-color: #808080 #c0c0c0;
}

.wmd-preview {
	width: 584px;
	padding: 8px;
	border: 0;
	background-color: #f9f9f9;
}

.wmd-preview img, .entry-content img {
	max-width: 100%
}

.qa-q-view-content pre,
.qa-a-item-content pre,
.wmd-preview pre {
	overflow: auto;
	max-height: 35em;
	margin: 0 0 0.5em;
	padding: 2px 4px;
	border: 0;
	background-color: #f0f0f0;
	font-family: "Liberation Mono", "Courier New", Courier, monospace;
	scrollbar-width: thin;
	scrollbar-color: #808080 #c0c0c0;
}

pre code {display: block; margin: 0; padding: 0; border: 0;}

code {background-color: #f0f0f0; padding: 1px 0.2em 1px 0.2em; font-size: 0.9em;}

.wmd-button-row {
	position: relative;
	margin: 0;
	padding: 0;
	height: 20px;
}

.wmd-spacer {
	width: 1px;
	height: 20px;
	margin-left: 14px;
	position: absolute;
	background-color: #c0c0c0;
	display: inline-block;
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	position: absolute;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button > span {
	/* note: background-image is set in plugin script */
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.wmd-spacer1 {left: 50px;}
.wmd-spacer2 {left: 175px;}
.wmd-spacer3 {left: 300px;}

.wmd-prompt-background {
	background-color: #000000;
}
.wmd-prompt-dialog {
	border: 1px solid #909090;
	background-color: #f0f0f0;
}
.wmd-prompt-dialog > div {
	font-size: 0.8em;
}
.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #909090;
	color: #000000;
}
.wmd-prompt-dialog > form > input[type="button"] {
	background-color: #c0c0c0;
	padding: 3px 8px;
	border: 1px solid #606060;
	font-size: 11px;
	font-weight: bold;
}

/* Flag Reasons styles */

.qa-flag-wrap {
	display: none;
}

/* General page layout */

body {
	background-color: #c0c0c0;
	margin: 0;
	padding: 0;
}
body, td, input, textarea {
	font-size: 13px;
	line-height: 1.4;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}
a:link, a:active, a:visited {
	text-decoration: none;
	color: #0000ff;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 0 0.5em;
}

blockquote {
	margin: 0;
	padding: 3px 6px;
	margin-bottom: 1.3em;
	background-color: #f0f0f0;
	border-left: 3px solid #c0c0c0;
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-style: italic;
}
blockquote code {
	background-color: #c0c0c0;
}

table {
	border-collapse: collapse;
	margin: 0 auto 1em;
}

hr {
	margin: 0.7em 0 0.7em 0;
	border: 0;
	height: 1px;
	color: #c0c0c0;
	background-color: #c0c0c0;
}

/* uncomment this if you want autofill background color disabled */
/*
input {
	filter: none;
}
*/

.qa-post-content p,
.qa-post-content pre {margin-bottom: 1.3em;}
.qa-post-content blockquote p {margin: 0; padding: 0;}
.qa-post-content li p {margin: 0; padding: 0;}

.qa-notice {
	background-color: #ffeeee;
	border-bottom: 2px solid #cc0000;
	color: #cc0000;
	font-size: 18px;
	padding: 0.5em 32px;
	font-weight: bold;
	position: relative;
}
.qa-notice-close-button, .qa-notice-close-hover {
	font-family: "Arial Black";
	color: #cc0000;
	font-size: 20px;
	background: none;
	cursor: pointer;
	position: absolute;
	height: 24px;
	border: none;
	top: 4px;
	right: 6px
}

.qa-body-wrapper {
	background-color: #ffffff;
	border: 1px solid #606060;
	width: 980px;
	margin: 0 auto;
	margin-top: -1px;
	text-align: left;
}

/* Clearing classes */

.qa-nav-main-clear,
.qa-nav-sub-clear,
.qa-q-item-clear,
.qa-q-view-clear,
.qa-a-item-clear,
.qa-c-item-clear,
.qa-footer-clear,
.qa-vote-count-clear,
.qa-page-links-clear {clear: both;}

/* Headings */

h1 {
	font-size: 28px;
	margin: 10px 0 22px;
}
h2 {
	font-size: 16px;
	clear: both;
}

h1 > a:link, h1 > a:visited, h1 > a:hover {
	color: inherit;
}

h2, h3, h4, h5, h6 {
	margin-top: 0;
}

.qa-favoriting,
.qa-favorite-image,
.qa-favorite-button,
.qa-favorite-hover,
.qa-unfavorite-button,
.qa-unfavorite-hover {
	display: none;
}

.qa-error {
	background-color: #ffeeee;
	border: 1px solid #cc0000;
	color: #cc0000;
	font-size: 16px;
	padding: .5em;
	margin-bottom: 1em;
}
.qa-error a {color: #cc0000; text-decoration: underline;}
.qa-error a:hover {color: #0000ff;}

/* Page sections */

.qa-header {padding: 10px 20px 0 20px;}
.qa-sidepanel {
	float: right;
	width: 176px;
	margin-right: 20px;
}
* html .qa-sidepanel {margin-right: 10px;} /* IE6 */

.qa-sidebar {
	margin: 24px 0;
	padding: 10px;
	background-color: #e0e0e0;
	border: 1px solid #c0c0c0;
}
.qa-sidebar > h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}
.qa-sidebar > p {
	margin: 8px 0 0 0;
	padding: 0;
	font-size: 12px;
}

.qa-feed {
	background: url("feed-icon-14x14.png") no-repeat left top;
	padding-left: 20px;
	height: 16px;
	margin: 24px 0;
}
.qa-feed-link {
	font-size: 10px;
	vertical-align: top;
}
.qa-main {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	float: left;
	margin-bottom: 2em;
	width: 750px;
	clear: left;
}
.qa-main > div {
	order: 2;
}
.qa-main > .qa-error {
	margin-top: 24px;
}
.qa-main > .qa-main-heading {order: 1;}
.qa-main-heading a {text-decoration: none;}
.qa-main > .qa-part-a-form {
	order: 3;
}
.qa-main > .qa-suggest-next {
	order: 4;
}

.qa-footer {
	clear: both;
	background-color: #909090;
	color: #ffffff;
	font-size: 10px;
	padding: 12px;
}
.qa-footer a {color: #ffffff;}
* html .qa-footer {padding-top: 6px;} /* IE6 */

/* Widget wrappers */

.qa-widgets-full-top {margin-bottom: -4px;}
.qa-widget-full {clear: both; margin: 20px; width: 942px;}
.qa-widget-full-high {margin-bottom: 0;}
.qa-widgets-main-top {margin-top: 24px;}
.qa-widgets-main-high {margin-bottom: 24px;}
.qa-widget-main {margin: 20px 0; width: 728px;}
.qa-widget-main-bottom {margin-bottom: 0;}
.qa-widgets-side-top {margin-top: 24px;}
.qa-widget-side {margin: 16px 0; width: 176px;}

/* popular tags in sidebar widget */
.qa-widget-side > div > a {
	padding: 0.1em 0.2em;
	line-height: calc(1.4em + 5px);
	background-color: #e0e0e0;
	color: #808080;
	text-decoration: none;
}

/* Header sections */

.qa-logo {
	float: left;
	margin-bottom: 16px;
	font-size: 40px;
	font-weight: bold;
}

.qa-nav-user {
	float: right;
	font-size: 14px;
	white-space: nowrap;
}
.qa-nav-user-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
}
.qa-nav-user-item {
	display: inline;
	margin-left: 12px;
}
.qa-nav-user-link {}
.qa-logged-in {display: inline;}

.qa-search {
	float: right;
	clear: right;
	margin-top: 12px;
	white-space: nowrap;
}
.qa-search-field {
	width: 20em;
	margin-right: 2px;
	border: 1px solid #000000;
}
.qa-search-button {
	background-color: #c0c0c0;
	border: 1px solid #909090;
	padding: 1px 5px;
}

/* Main, sub and category navigation */

.qa-nav-main {clear: both; background-color: #c0c0c0;}
.qa-nav-main-list {font-size: 16px; list-style: none; padding: 0; margin: 0;}

.qa-nav-main-item, .qa-nav-main-item-opp {}
.qa-nav-main-item {
	float: left;
	margin-right: 2px;
}
.qa-nav-main-item-opp {
	float: right;
	margin-left: 2px;
}
.qa-nav-main-link {
	display: block;
	padding: 2px 7px;
	background-color: #c0c0c0;
}
.qa-nav-main-link:hover, .qa-nav-main-selected {
	background-color: #909090;
	text-decoration: none;
}

.qa-nav-main-link:link,
.qa-nav-main-link:visited {
	color: #ffffff;
}

.qa-nav-main-ask {
	margin-left: 20px;
}

.qa-nav-main-hot .qa-nav-main-link {
	background-color: #cc0000;
}
.qa-nav-main-hot .qa-nav-main-link:hover,
.qa-nav-main-hot .qa-nav-main-selected {}

.qa-nav-sub {clear: both; float: left; padding-top: 6px;}
.qa-nav-sub-list {
	overflow: hidden;
	list-style: none;
	margin: 0 0 8px;
	padding: 0;
	font-size: 12px;
}
.qa-nav-sub-item {float: left; margin: 0 2px 2px 0;}
.qa-nav-sub-link {background-color: #e0e0e0; font-weight: bold; padding: 3px 7px; display: block;}
.qa-nav-sub-link:link,.qa-nav-sub-link:visited {color: #909090;}
.qa-nav-sub-link:hover {color: #ffffff; background-color: #c0c0c0; text-decoration: none;}
.qa-nav-sub-selected {color: #ffffff; background-color: #c0c0c0;}
.qa-nav-sub-selected:link,.qa-nav-sub-selected:visited {color: #ffffff;}
.qa-nav-sub-link.qa-nav-selected {}
.qa-nav-sub-favorites {display: none;}

.qa-nav-cat {margin: 24px 0;}
.qa-nav-cat-list {list-style: none; padding: 0; margin: 0;}
.qa-nav-cat-list-1 {font-size: 14px;}
.qa-nav-cat-list-2 {font-size: 12px; margin-left: 1em;}
.qa-nav-cat-list-3 {font-size: 10px; margin-left: 1em;}
.qa-nav-cat-list-4 {font-size: 9px; margin-left: 1em;}
.qa-nav-cat-item {margin: 0.5em 0;}
.qa-nav-cat-link {font-weight: bold;}
.qa-nav-cat-selected,.qa-nav-cat-selected:hover {text-decoration: none;}

/* Pagination */

.qa-page-links {padding: 12px 0; font-size: 14px; clear: both; zoom: 1;} /* zoom: 1 for IE6 */
.qa-page-links-label {}
.qa-page-links-list {margin: 0; padding: 0; list-style: none; display: inline;}
.qa-page-links-item {display: inline;}
.qa-page-link,.qa-page-selected,.qa-page-prev,.qa-page-next {margin: 3px 1px; padding: 3px 8px; border: 1px solid #606060;}
.qa-page-link:link, .qa-page-prev:link, .qa-page-next:link {text-decoration: none; color: #000000;}
.qa-page-link:hover,.qa-page-prev:hover,.qa-page-next:hover {background-color: #808080; color: #ffffff;}
.qa-page-link:visited, .qa-page-prev:visited, .qa-page-next:visited {text-decoration: none; color: #000000;}
.qa-page-link {}
.qa-page-prev,.qa-page-next {background-color: #c0c0c0;}
.qa-page-selected {color: #ffffff; background-color: #606060;}
.qa-page-ellipsis {}

/* Standard form */

.qa-form-table-boxed {
  margin-left: 20px;
}

/* Standard form (tall version) */

.qa-form-tall-table {width: 100%;}
.qa-form-tall-spacer {line-height: 1px; padding: 0; font-size: 1px;}
.qa-form-tall-ok {
	background-color: #eeffee;
	border: 1px solid #009900;
	color: #009900;
	font-size: 18px;
	padding: 6px;
	text-align: center;
}
.qa-form-tall-label {padding: 8px 8px 2px 8px;}
.qa-c-form .qa-form-tall-label {font-size: 12px;}

.qa-form-tall-data {padding: 0px 8px 8px 8px; width: 480px;}
.qa-form-tall-text,
.qa-form-tall-number {padding: 3px;}
.qa-form-tall-text,
.qa-form-tall-textarea {border: 1px solid #c0c0c0;}
.qa-form-tall-text {width: 99%;}
.qa-form-tall-textarea {width: 100%; height: 200px;}
.qa-form-tall-number {width: 48px;}
.qa-form-tall-checkbox {float: left; margin-right: 6px;}

.qa-form-tall-image {text-align: center; margin-top: 12px;}
.qa-form-tall-image img {border: 1px solid #000000;}
.qa-form-tall-suffix {font-weight: normal; font-size: 10px;}

.qa-form-tall-error {
	background-color: #ffeeee;
	border: 1px solid #cc0000;
	color: #cc0000;
	font-size: 14px;
	margin-top: 6px;
	padding: .5em;
}
.qa-form-tall-note {
	margin-top: 6px;
	color: #909090;
	font-style: italic;
	font-weight: normal;
}
.qa-form-tall-note a {}
.qa-form-tall-note a:hover {}
.qa-form-tall-buttons,
.qa-q-list-form {
	padding: 8px;
	text-align: center;
}

.qa-form-tall-button,
.qa-form-tall-hover,
.qa-form-wide-button,
.qa-form-wide-hover {
	background-color: #c0c0c0;
	padding: 3px 8px;
	border: 1px solid #606060;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.qa-form-tall-select,
.qa-form-wide-select {
	padding: 1px 17px 1px 0;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
	                  linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 10px) 6px, calc(100% - 5px) 6px;
	background-size: 6px 6px, 6px 6px;
	background-repeat: no-repeat;
	border: 1px solid #606060;
	font-size: 12px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

/* Standard form (wide version) */

.qa-form-wide-table {width: 100%; border: 0;}
.qa-form-wide-spacer {
	padding: 0;
	height: 5px;
	line-height: 5px;
	border: 0;
}
.qa-form-wide-ok {
	background-color: #eeffee;
	border: 1px solid #009900;
	color: #009900;
	font-size: 16px;
	margin-bottom: 20px;
	text-align: center;
}
.qa-form-wide-label,
.qa-form-wide-data {
	padding: 5px 8px;
	border: 1px solid #c0c0c0;
}
.qa-form-wide-label {
	white-space: nowrap; width: 100px;
	background-color: #e0e0e0;
	border-right-style: dashed;
	text-align: right;
}
.qa-form-wide-data {}
.qa-form-wide-text,
.qa-form-wide-number {
	padding: 3px;
	border: 1px solid #909090;
}
.qa-form-wide-text {width: 90%;}
.qa-form-wide-number {width: 48px; vertical-align: middle;}
.qa-form-wide-error {
	background-color: #ffeeee;
	border: 1px solid #cc0000;
	color: #cc0000;
	font-size: 11px;
	margin-left: 6px;
	padding: .5em;
}
.qa-form-wide-note {font-size: 12px; margin-left: 4px;}
.qa-form-wide-buttons {padding: 8px; text-align: center;}
.qa-form-wide-button-delete_expired {margin-bottom: 5px;}

/* Standard form (light version - buttons only) */

.qa-form-light-button,
.qa-form-light-hover {
	background: none;
	cursor: pointer;
	padding: 0;
	margin-right: 6px;
	font-size: 11px;
	/* overflow: visible for IE, 1px border needed for tooltips to work more reliably in IE */
	border: 1px solid #ffffff;
	overflow: visible;
}
.qa-form-light-button {
	color: #000000;
}
.qa-form-light-hover,
.qa-form-light-button:hover {
	color: #000000;
}

/* Standard form (basic version - buttons only) */

.qa-form-basic-button,
.qa-form-basic-hover {
	background-color: #c0c0c0;
	padding: 3px 8px;
	margin: 4px 4px 4px 0;
	border: 1px solid #606060;
	vertical-align: middle;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.qa-form-basic-note {
	font-size: 11px;
}

/* Question list */

.qa-q-list-item {margin-bottom: 24px; padding-bottom: 1px; zoom: 1;} /* zoom for IE, padding for early FF */
.qa-q-item-main {float: left; width: 600px;}
.qa-q-item-title {font-weight: bold; font-size: 16px;}

.qa-q-item-content {
	font-size: 10px;
	margin-top: 6px;
	max-height: 64px;
	overflow-y: auto;
	padding: 4px;
	border: 1px solid #c0c0c0;
}
.qa-q-item-avatar {display: inline-block; vertical-align: middle; margin-top: 6px; margin-right: 2px;}

.qa-q-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #606060;
}

.qa-q-item-when-data {}
.qa-q-item-who-title {}
.qa-q-item-points-data {}

.qa-q-item-flags,
.qa-q-view-flags,
.qa-a-item-flags,
.qa-c-item-flags {
	display: inline-block;
	background-color: #cc0000;
	color: #ffffff;
	font-weight: bold;
	padding: 2px 5px;
}

.qa-q-item-tags {margin-top: 8px;}
.qa-q-item-tag-list {list-style: none; margin: 0; padding: 0;}
.qa-q-item-tag-item {display: inline;}
.qa-q-item-buttons {text-align: right; clear: both;}
.qa-suggest-next {font-size: 15px; padding: 0.5em 0; text-align: left; clear: both;}

/* Votes */

/* qa-*-hover classes are substituted by JS (for IE), qa-*-button:hover is a backup for other browsers if JS is off */

.qa-voting,
.qa-a-count {
	float: left;
	width: 56px;
	padding: 8px 0;
	text-align: center;
}
.qa-voting {margin-bottom: 2px;}
.qa-voting .qa-vote-msg {
	position: absolute;
	z-index: 100;
	top: 80px;
	width: 420px;
	background-color: #eeffee;
	color: #000000;
	padding: 8px;
	text-align: center;
}

.qa-vote-buttons {height: 20px;}
.qa-vote-buttons+.qa-vote-count+.qa-vote-buttons {margin-top: 10px;}

.qa-vote-first-button,
.qa-vote-second-button,
.qa-vote-one-button {
	display: block;
	width: 24px;
	height: 16px;
	background: transparent url("q2a-buttons.png") no-repeat;
	border: 0;
	cursor: pointer;
}

.qa-vote-first-button,
.qa-voted-up-button,
.qa-voted-up-hover {
	margin: 0 auto 4px;
}
.qa-vote-second-button,
.qa-voted-down-button,
.qa-voted-down-hover {
	margin: 4px auto 0;
}

.qa-vote-up-button {
	background-position: 0 0;
}
.qa-vote-up-disabled {
	background-position: 0 -64px;
}
.qa-vote-up-hover,
.qa-vote-up-button:hover {
	background-position: 0 -16px;
}

.qa-vote-down-button {
	background-position: -24px 0;
}
.qa-vote-down-disabled {
	background-position: -24px -64px;
}
.qa-vote-down-hover,
.qa-vote-down-button:hover {
	background-position: -24px -16px;
}

.qa-voted-up-button {
	background-position: 0 -32px;
}
.qa-voted-up-hover,
.qa-voted-up-button:hover {
	background-position: 0 -48px;
}

.qa-voted-down-button {
	background-position: -24px -32px;
}
.qa-voted-down-hover,
.qa-voted-down-button:hover {
	background-position: -24px -48px;
}

.qa-netvote-count {
	display: block;
}
.qa-netvote-count-data {
	display: block;
	padding-top: 1px;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}
.qa-netvote-count-pad {
	display: block;
	font-size: 12px;
}

.qa-upvote-count,
.qa-downvote-count {
	width: 48px;
	height: 27px;
	position: relative;
	top: -4px;
	display: block;
}
.qa-upvote-count-data,
.qa-downvote-count-data {
	font-size: 18px;
	font-weight: bold;
	display: inline;
}
.qa-upvote-count-pad,
.qa-downvote-count-pad {
	font-size: 9px;
	display: none;
}

.qa-q-view .qa-voting {
	background-color: transparent;
	border: 0;
}
.qa-a-list-item .qa-voting {
	background: transparent;
	border: 0;
	height: auto;
}
.qa-q-list-item .qa-vote-buttons,
.qa-q-list-item .qa-vote-buttons-net {
	display: none;
}

/* Answer count */

.qa-a-count {margin: 0 12px 2px 0; border: 0;}
.qa-a-count-data {
	display: block;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
}
.qa-a-count-pad {display: block; font-size: 12px;}

.qa-a-count.qa-a-count-zero {}
.qa-a-count.qa-a-count-selected {color: #009900;}

.qa-q-item-stats {float: left; width: 127px;}
.qa-view-count {
	display: block;
	clear: both;
	color: #808080;
	font-size: 12px;
	text-align: center;
}
.qa-view-count-data {font-weight: bold;}

/* Tags, users and categories */

.qa-top-tags-table {float: left; margin-bottom: 1em; width: 100%;}
.qa-top-tags-count {text-align: right; padding: 3px;}
.qa-top-tags-label {padding: 3px;}
.qa-top-tags-spacer {padding: 0 4px;}

.qa-top-users-table {
	float: left;
	margin-bottom: 1em;
	width: 100%;
	border: 1px solid #c0c0c0;
}
.qa-top-users-label,
.qa-top-users-score {
	padding: 5px 8px;
	border: 1px solid #c0c0c0;
	line-height: 30px;
}
.qa-top-users-label {text-align: left; font-weight: bold;}
.qa-top-users-score {
	background-color: #e0e0e0;
	border-left-width: 0;
	text-align: right;
}
.qa-top-users-spacer {padding: 0 4px;}

.qa-browse-cat-list {list-style: none; padding: 0; margin: 0; margin-left: 2.5em;}
.qa-browse-cat-list-1 {font-size: 16px;}
.qa-browse-cat-list-2 {font-size: 14px;}
.qa-browse-cat-list-3 {font-size: 12px;}
.qa-browse-cat-list-4 {font-size: 10px;}
.qa-browse-cat-item {margin: 0.5em 0; font-weight: bold;}
.qa-browse-cat-closed {list-style: disc;}
.qa-browse-cat-open {list-style: circle;}
.qa-browse-cat-link {font-weight: bold; text-decoration: none;}
.qa-browse-cat-note {font-weight: normal; font-size: 85%;}
.qa-browse-cat-note a {color: #0000ff;}

/* Question view */

.qa-q-view-main {float: left; width: 680px; margin-left: 10px;}
.qa-q-view-main .qa-view-count {display: none;}
.qa-q-view-content {margin-bottom: 16px; font-size: 14px;}
.qa-q-view-avatar {display: inline-block; vertical-align: middle; margin-right: 8px;}

.qa-q-view-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #606060;
}

.qa-q-view-follows {margin-bottom: 12px; font-style: italic;}
.qa-q-view-closed {
	margin-bottom: 6px;
	padding: 1px 3px;
	background-color: #e0e0e0;
	font-size: 10px;
	font-style: italic;
}
.qa-q-view-closed-content {font-weight: bold;}
.qa-q-view-extra {margin-bottom: 18px; font-style: italic;}
.qa-q-view-extra-content {font-weight: bold;}
.qa-q-view-when-data {}
.qa-q-view-who-title {}
.qa-q-view-points-data {font-weight: bold;}

.qa-q-view-tags {margin-bottom: 12px;}
.qa-q-view-tag-list {list-style: none; margin: 0; padding: 0;}
.qa-q-view-tag-item {display: inline;}
.qa-q-view-buttons {text-align: right; clear: both;}
.qa-q-view-c-list {clear: both; margin: 10px 0 0 24px; border-top: 1px dotted #606060;}

.qa-q-view-hidden {}
.qa-q-view-hidden .qa-voting {background: transparent none; color: #c0c0c0;}
.qa-q-view-hidden .qa-q-view-content {color: #909090;}
.qa-q-view-hidden .qa-q-view-meta {color: #c0c0c0;}
.qa-q-view-hidden .qa-user-link {color: #909090;}
.qa-q-view-hidden .qa-q-view-who-title {color: #909090;}
.qa-q-view-hidden .qa-category-link {color: #909090;}
.qa-q-view-hidden .qa-tag-link {background-color: #c0c0c0;}

/* Answer view */

.qa-a-list-item {margin-bottom: 40px; zoom: 1; padding-bottom: 1px;} /* zoom for IE, padding for early FF */
.qa-a-list-item-hidden {}
.qa-a-list-item-hidden .qa-voting {background: transparent none; color: #c0c0c0;}
.qa-a-list-item-hidden .qa-a-item-content {color: #909090;}
.qa-a-list-item-hidden .qa-a-item-what {color: #c0c0c0;}
.qa-a-list-item-hidden .qa-a-item-meta {color: #c0c0c0;}
.qa-a-list-item-hidden .qa-a-item-who-title {color: #909090;}
.qa-a-list-item-hidden .qa-user-link {color: #909090;}

.qa-a-item-main {
	float: left;
	width: 680px;
	margin-left: 10px;
	display: inline-block;
} /* inline-block for IE */

.qa-a-item-selected {background-color: #eeffee; padding: 5px;}
.qa-a-item-content {font-size: 14px; margin-bottom: 12px;}
.qa-a-item-avatar {display: inline-block; vertical-align: middle; margin-right: 8px;}

.qa-a-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #606060;
}

.qa-a-item-when-data {font-weight: bold;}
.qa-a-item-who-title {}
.qa-a-item-points-data {font-weight: bold;}

.qa-a-item-buttons {text-align: right; margin-top: 12px; clear: both;}
.qa-a-item-c-list {clear: both; margin: 12px 0 0 12px; border-top: 1px dotted #606060;}

/* Answer selection */

.qa-a-selection {
	float: right;
	width: 48px;
	text-align: center;
	padding: 0 0 5px 3px;
	margin: 0 0 5px 5px;
	background-color: inherit;
}
.qa-a-select-button,
.qa-a-select-hover,
.qa-a-unselect-button,
.qa-a-unselect-hover,
.qa-a-selected {
	width: 36px;
	height: 25px;
	background: url("q2a-buttons.png") -78px 0 no-repeat;
	margin-left: 5px;
	margin-right: 5px;
	border: 0;
	cursor: pointer;
}
.qa-a-select-button,
.qa-a-unselect-hover,
.qa-a-unselect-button:hover {
	background-position: -78px -25px;
}
.qa-a-selected-text {
	font-size: 10px;
	font-weight: bold;
	display: block;
	margin-top: 6px;
}

/* Comments */

.qa-c-list-item {border-bottom: 1px dotted #606060; padding: 0 0 0 6px;}
.qa-c-item-hidden {}
.qa-c-item-hidden .qa-c-item-content {}
.qa-c-item-hidden .qa-c-item-link {}
.qa-c-item-hidden .qa-c-item-what {color: #c0c0c0;}
.qa-c-item-hidden .qa-c-item-meta {color: #c0c0c0;}
.qa-c-item-hidden .qa-c-item-who-title {color: #909090;}
.qa-c-item-hidden .qa-user-link {color: #909090;}

.qa-c-item-link {display: block; margin-bottom: 6px;}
.qa-c-item-expand {display: block; color: #606060; font-style: italic; margin: 4px 0;}
.qa-c-item-content {display: block; font-size: 12px; margin-bottom: 2px;}
.qa-c-item-footer {position: relative; height: 1%;} /* height for IE6 */
.qa-c-item-avatar {display: inline-block; vertical-align: middle; margin-right: 4px;}
.qa-c-item-meta {display: inline-block; vertical-align: middle; font-size: 10px; color: #606060;}
.qa-c-item-who-title {}
.qa-c-item-who-points {display: none;}

.qa-c-item-buttons {display: block; position: absolute; bottom: 0px; right: 0px;}

/* Related questions and activity count widgets */

.qa-related-q-list {
	list-style-type: none;
	padding: 0;
	font-size: 12px;
	line-height: 1.2;
}
.qa-related-q-item {
	margin: 10px 0;
	word-wrap: break-word;
}
.qa-activity-count {font-size: 150%;}
.qa-activity-count-item {margin: 0.25em 0;}
.qa-activity-count-data {font-weight: bold;}

/* Private Messages */

.qa-message-content {margin-bottom: 5px;}
.qa-message-buttons {margin-top: 5px;}

/* Footer parts */

.qa-nav-footer-list {float: left; list-style-type: none; padding: 0; margin: 0;}
.qa-nav-footer-item {float: left; margin-right: 12px;}
.qa-nav-footer-link {color: #ffffff; text-decoration: underline !important;}
.qa-nav-footer-link:hover {color: #0000ff;}
.qa-attribution {float: right;}
.qa-attribution a {color: #ffffff; text-decoration: underline; !important;}
.qa-attribution a:hover {color: #0000ff;}

/* Classes in HTML passed to theme class */

.qa-user-link {}
.qa-category-link {}

.qa-tag-link {
	font-size: 11px;
	padding: 3px 5px;
	background-color: #e0e0e0;
	vertical-align: middle;
	display: inline-block;
}
.qa-tag-link:link,
.qa-tag-link:visited,
.qa-tag-link:hover {
	color: #808080;
	text-decoration: none;
}

.qa-avatar-image {margin-right: 5px; border: 0; vertical-align: middle;}
.qa-form-tall-image .qa-avatar-image {margin-right: 0;}
.qa-avatar-link,.qa-avatar-link:hover {text-decoration: none;}
